<h1>Teste Bootstrap</h1>

<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets\logo_horacio.png" />
      </div>
      <!-- FIM DO BODY-->
    </div>
    <!-- FIM DO CARD-->
  </div>
  <!-- FIM DA COL-->

  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets\crud.png" />
      </div>
    </div>
  </div>
</div>
<!-- FIM DA ROW-->



<hr>


<div class="card" style="width: 18rem;">
  <img src="assets\logo_horacio.png" class="card-img-top " alt="...">
  <div class="card-body">
    <h5 class="card-title">BRUNO HENRIQUE MARTINS FERREIRA</h5>
    <p class="card-text">DERRAMEI SEM QUERER FOI MAL</p>
    <a href="#" class="btn btn-primary">DESCULPAS</a>
    <div class="">
      <div class="">
        Cursando DS no segundo semestre.
      </div>
      <div class="">Foco de estudo em backend</div>
      <div class="">QUASE QUEIMEI UM COMPUTADOR HOJE </div>
      <div class="">Muito dedicado.</div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
